{% extends "base.html" %} {% load staticfiles %} {% block title %} Edit Job {% endblock title %} {% block content %}
<div class="row" style="margin-top:-20px">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <div class="box palette-Grey-300 bg">
          <div class="box-header  palette-Grey-300 bg">
            <h3 class="box-title"><span class="text-white">&nbsp;&nbsp;&nbsp;Edit Job</span></h3>
            <div class="pull-right text-white box-tools">
              <span class="text-white box-btn"><i class="circle-nest-medium ti-notepad"></i>
              </span> &nbsp;&nbsp;&nbsp;
            </div>
            <div class="medium-9 columns ">
              <div>

                <script>
                  //used below for maitaining Color List coun
                  var colorCount = 0;
                  var brand = "";
                  var patchStandards;
                  var patchTolerances;
                </script>

                <script>
                  function report(value) {
                    brand = value;
                    console.log("value=", value);
                    if (value == "") return; // please select - possibly you want something else he
                    else {
                      $.get("{%url "app:valuesFromBrand" %}", {"brand": value},
                        function(values) {
                          divisions = {{divisions}}
                          console.log("values=", values, " divisions=", divisions);

                          $('#divisionOptions option').remove();
                          for (var count = 0; count < values["divisions"].length; count++) {
                            if(divisions.indexOf(values["divisions"][count]["id"]) > -1 && {{job.brand.id}} == brand){
                              $('#divisionOptions').append('<option value=' + values["divisions"][count]["id"] + ' selected>' + values["divisions"][count]["name"] + '</option>');
                            }
                            else{
                              $('#divisionOptions').append(new Option(values["divisions"][count]["name"], values["divisions"][count]["id"]));
                            }

                          }

                          $('#productOptions option').remove();
                          $('#productOptions').append('<option disabled selected value> -- select an option -- </option>')
                          for (var count = 0; count < values["products"].length; count++) {
                            var id = (values["products"][count]["id"]).toString();
                            if (id.localeCompare("{{job.product.id}}") == 0) {
                              $('#productOptions').append('<option value=' + values["products"][count]["id"] + ' selected>' + values["products"][count]["name"] + '</option>')
                            }
                            else {
                              $('#productOptions').append(new Option(values["products"][count]["name"], values["products"][count]["id"]));
                            }
                          }

                          patchStandards = values["patchStandards"];
                          patchTolerances = values["patchTolerances"];
                          patchSta = {{patchSta}};
                          patchTol = {{patchTol}};

                          $('select[name^=brandColor] option').remove();
                          $('select[name^=patchTolerance] option').remove();
                          $('select[name^=patchTolerance]').append('<option disabled selected value> -- select an option -- </option>');
                          $('select[name^=brandColor]').append('<option disabled selected value> -- select an option -- </option>');

                          for(var count=0; count < patchStandards.length; count++){
                            $('select[name^=brandColor]').append(new Option(patchStandards[count]["name"], patchStandards[count]["id"]));
                          }
                          for(var count=0; count < patchTolerances.length; count++){
                            $('select[name^=patchTolerance]').append( new Option(values["patchTolerances"][count]["name"],values["patchTolerances"][count]["id"]) );
                          }
                          if({{job.brand.id}} == brand){
                            for(var count=1; count <= patchSta.length; count++){
                                $('select[name=brandColor'+count+']').val(patchSta[count-1])
                                .find("option[value=" + patchSta[count-1] +"]").attr('selected', true);
                                $('select[name=patchTolerance'+count+']').val(patchTol[count-1])
                                .find("option[value=" + patchTol[count-1] +"]").attr('selected', true);
                            }
                          }

                        }).fail(function() {
                        console.log("error");
                      });
                    }
                  }
                </script>

                <form action="#" method="POST" class="form-inline">{% csrf_token %}
                  <br>
                  <br>
                  <h4 style="color: red">{{message}}</h4>

                  <div class="form-group">

                    <label>Brand Name:</label>
                    <select name="brand" class="form-control" onchange="report(this.value)">
                      {%for each in brands %}
                          {% if each.id == job.brand.id %}
                            <option value={{each.pk}} selected>{{each.name}}</option>
                          {% else %}
                            <option value={{each.pk}}>{{each.name}}</option>
                          {% endif %}
                      {% endfor %}
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Product Name:</label>
                    <select id="productOptions" name="product"  class="form-control" required>

                    </select>
                  </div>

                  <div class="form-group">
                    <label>Division Name:</label>
                    <select id="divisionOptions" name="divisions" multiple class="form-control" required>
                    </select>
                  </div>

                  <div class="form-group">
                    <label >Job Name:</label>
                    <input type="text" class="form-control" name="jobName" value="{{job.name}}"required>
                  </div>

                  <div class="form-group">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Color List</th>
                          <th>Brand Color</th>
                          <th>Patch Tolerance</th>
                          <th>
                            <button type="button" class="btn btn-default" onclick="fieldAdd();"><span>Add</span></button>
                            <button type="button" class="btn btn-default" onclick="fieldRemove();"><span>Remove</span></button>
                          </th>

                        </tr>
                      </thead>

                      <script>
                        function fieldAdd() {
                          colorCount+=1;
                          document.getElementById('countOfColor').value = colorCount;
                          $('#addTable').append(
                            `<tr>
                              <td><label  name='colorListLable`+colorCount+`'>Color List `+colorCount+`</label></td>
                              <td><select required id='brandColorOptions`+colorCount+`' name='brandColor`+colorCount+`' class='form-control'></select></td>
                              <td><select required id='patchToleranceOptions`+colorCount+`' name='patchTolerance`+colorCount+`' class='form-control'></select></td>
                              <td></td>
                            </tr>`
                          )
                          $('select[name^=brandColor'+colorCount+']').append('<option disabled selected value> -- select an option -- </option>');
                          for(var count=0; count < patchStandards.length; count++){
                          //  console.log("patchStandards",patchStandards[count]["id"], patchStandards[count]["name"] );
                           $('select[name^=brandColor'+colorCount+']').append( new Option(patchStandards[count]["name"],patchStandards[count]["id"]) );
                          }

                          $('select[name^=patchTolerance'+colorCount+']').append('<option disabled selected value> -- select an option -- </option>');
                          for(var count=0; count < patchTolerances.length; count++){
                            //  console.log("patchTolerances",patchTolerances[count]["id"], patchTolerances[count]["name"] );
                           $('select[name^=patchTolerance'+colorCount+']').append( new Option(patchTolerances[count]["name"],patchTolerances[count]["id"]) );
                          }


                        }
                      </script>
                      <script>
                        function fieldRemove() {
                          if(colorCount!=1){
                            document.getElementById('countOfColor').value = colorCount;
                            colorCount-=1;
                            $('#addTable tr').last().remove()
                          }
                          return false;

                        }
                      </script>

                      <tbody id="addTable">
                        {% for each in jobPatch  %}
                          <tr>
                            <td><label  name="colorListLable{{forloop.counter}}">Color List {{forloop.counter}}</label></td>
                            <td>
                              <select required id="brandColorOptions{{forloop.counter}}" name="brandColor{{forloop.counter}}" class="form-control">
                              </select>
                            </td>
                            <td>
                              <select required id="patchToleranceOptions{{forloop.counter}}" name="patchTolerance{{forloop.counter}}" class="form-control">
                              </select>
                            </td>
                            <td></td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                    <input type="hidden" id="countOfColor" name="countOfColor" value="">
                    <script type="text/javascript">
                      colorCount={{jobPatch|length}};
                      document.getElementById('countOfColor').value = colorCount;

                    </script>



                    <label>Active:</label>
                    <select name="active" class="form-control" required>
                      {% if job.active == 1 %}
                        <option selected value="True">Active</option>
                        <option value="False">Inactive</option>
                      {% else %}
                      <option value="True">Active</option>
                      <option selected value="False">Inactive</option>
                      {% endif %}
                    </select>
                  </div>

                  <button type="submit" class="btn btn-default">Update Job</button>

                  <br>
                  <br>
                </form>
              </div>
              <script type='text/javascript' src="{% static "js/jquery.js" %}"></script>
              <script type="text/javascript">
                $( document ).ready(function(){
                  report({{job.brand.id}});
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
