{% extends "base.html" %} {% load staticfiles %} {% block title %} Home {% endblock title %} {% block content %}
<div class="row" style="margin-top:-20px">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <div class="box palette-Grey-300 bg">
          <div class="box-header  palette-Grey-300 bg">
            <h3 class="box-title"><span class="text-white">&nbsp;&nbsp;&nbsp;NEW JOB</span></h3>
            <div class="pull-right text-white box-tools">
              <span class="text-white box-btn"><i class="circle-nest-medium ti-notepad"></i>
              </span> &nbsp;&nbsp;&nbsp;
            </div>
            <div class="medium-9 columns ">
              <div>

                <script>
                  //used below for maitaining Color List coun
                  var colorCount=1;
                  var brand = "";
                  var patchStandards;
                  var patchTolerances;
                </script>

                <script>
                  function report(value) {
                    brand=value;
                    if (value=="") return; // please select - possibly you want something else here
                    else{
                      $.get("{%url "app:valuesFromBrand" %}", { "brand": value },
                          function(values){
                              console.log("values=", values);
                               $('#divisionOptions option').remove();

                               for(var count=0; count < values["divisions"].length; count++){
                                 //  console.log("values",divisions["divisions"][count]["id"] );
                                $('#divisionOptions').append( new Option(values["divisions"][count]["name"],values["divisions"][count]["id"]) );
                               }

                              $('select[name^=brandColor] option').remove();
                              patchStandards = values["patchStandards"];
                              $('select[name^=brandColor]').append('<option disabled selected value> -- select an option -- </option>');
                              for(var count=0; count < values["patchStandards"].length; count++){
                              //  console.log("patchStandards",values["patchStandards"][count]["id"], values["patchStandards"][count]["name"] );
                               $('select[name^=brandColor]').append( new Option(values["patchStandards"][count]["name"],values["patchStandards"][count]["id"]) );
                              }

                              $('select[name^=patchTolerance] option').remove();
                              patchTolerances = values["patchTolerances"];

                              $('select[name^=patchTolerance]').append('<option disabled selected value> -- select an option -- </option>');
                              for(var count=0; count < values["patchTolerances"].length; count++){
                                //  console.log("patchTolerances",values["patchTolerances"][count]["id"], values["patchTolerances"][count]["name"] );
                               $('select[name^=patchTolerance]').append( new Option(values["patchTolerances"][count]["name"],values["patchTolerances"][count]["id"]) );
                              }

                      }).fail(function(){
                          console.log("error");
                      });
                    }
                  }
                </script>

                <form action="#" method="POST" class="form-inline">{% csrf_token %}
                  <br>
                  <br>
                  <h4 style="color: red">{{message}}</h4>

                  <div class="form-group">

                    <label>Brand Name:</label>
                    <select name="brand" class="form-control" onchange="report(this.value)">
                      <option disabled selected value> -- select an option -- </option>
                      {%for each in brands %}
                        <option value={{each.pk}}>{{each.name}}</option>
                      {% endfor %}
                    </select>
                  </div>



                  <div class="form-group">
                    <label  name="brand">Division Name:</label>
                    <select id="divisionOptions" name="divisions" multiple class="form-control" required>
                    </select>
                  </div>

                  <div class="form-group">
                    <label >Job Name:</label>
                    <input type="text" class="form-control" name="jobsName" required>
                  </div>

                  <div class="form-group">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Color List</th>
                          <th>Brand Color</th>
                          <th>Patch Tolerance</th>
                          <th>
                            <button type="button" class="btn btn-default" onclick="fieldAdd();"><span>Add</span></button>
                            <button type="button" class="btn btn-default" onclick="fieldRemove();"><span>Remove</span></button>
                          </th>

                        </tr>
                      </thead>

                      <script>
                        function fieldAdd() {

                          colorCount+=1;
                          $('#addTable').append(
                            `<tr>
                              <td><label  name='colorListLable`+colorCount+`'>Color List `+colorCount+`</label></td>
                              <td><select required id='brandColorOptions`+colorCount+`' name='brandColor`+colorCount+`' class='form-control'></select></td>
                              <td><select required id='patchToleranceOptions`+colorCount+`' name='patchTolerance`+colorCount+`' class='form-control'></select></td>
                              <td></td>
                            </tr>`
                          )
                          $('select[name^=brandColor'+colorCount+']').append('<option disabled selected value> -- select an option -- </option>');
                          for(var count=0; count < patchStandards.length; count++){
                          //  console.log("patchStandards",patchStandards[count]["id"], patchStandards[count]["name"] );
                           $('select[name^=brandColor'+colorCount+']').append( new Option(patchStandards[count]["name"],patchStandards[count]["id"]) );
                          }

                          $('select[name^=patchTolerance'+colorCount+']').append('<option disabled selected value> -- select an option -- </option>');
                          for(var count=0; count < patchTolerances.length; count++){
                            //  console.log("patchTolerances",patchTolerances[count]["id"], patchTolerances[count]["name"] );
                           $('select[name^=patchTolerance'+colorCount+']').append( new Option(patchTolerances[count]["name"],patchTolerances[count]["id"]) );
                          }


                        }
                      </script>
                      <script>
                      function fieldRemove() {

                        if(colorCount!=1){
                          colorCount-=1;
                          $('#addTable tr').last().remove()
                        }
                        return false;

                      }

                      </script>

                      <tbody id="addTable">
                        <tr>
                          <td><label  name="colorListLable1">Color List 1</label></td>
                          <td><select required id="brandColorOptions1" name="brandColor1" class="form-control"></select></td>
                          <td><select required id="patchToleranceOptions1" name="patchTolerance1" class="form-control"></select></td>
                          <td></td>
                        </tr>

                      </tbody>
                    </table>

                    <label>Active:</label>
                    <select name="active" class="form-control" required>
                          <option value="True">Active</option>
                          <option value="False">Inactive</option>
                    </select>
                  </div>



                  <button type="submit" class="btn btn-default">Create Job</button>

                  <br>
                  <br>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
