{% extends "base.html" %} {% load staticfiles %} {% block title %} Link {% endblock title %} {% block content %}
<div class="row" style="margin-top:-20px">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <div class="box palette-Grey-300 bg">
          <div class="box-header  palette-Grey-300 bg">
            <h3 class="box-title"><span class="text-white">&nbsp;&nbsp;&nbsp;NEW Link</span></h3>
            <div class="pull-right text-white box-tools">
              <span class="text-white box-btn"><i class="circle-nest-medium ti-notepad"></i>
              </span> &nbsp;&nbsp;&nbsp;
            </div>
            <div class="medium-9 columns ">
              <div>
                <form action="#" method="POST" class="form-inline">{% csrf_token %}
                  <br>
                  <br>
                  <h4 style="color: red">{{message}}</h4>
                  <div class="form-group">
                    <label class="sr-only" name="brand">Member Name:</label>
                    <select class="form-control" required>
                          <option>1</option>
                          <option>2</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label class="sr-only">Description:</label>
                    <input type="text" class="form-control" name="description" required>
                  </div>

                  <div class="form-group">
                    <label class="sr-only">Link:</label>
                    <input type="text" class="form-control" name="link" required>
                  </div>

                  <button type="submit" class="btn btn-default">Create Link</button>

                  <br>
                  <br>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
