{% extends "base.html" %} {% load staticfiles %} {% block title %} Home {% endblock title %} {% block content %}
<div class="row" style="margin-top:-20px">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <div class="box palette-Grey-300 bg">
          <div class="box-header  palette-Grey-300 bg">
            <h3 class="box-title"><span class="text-white">&nbsp;&nbsp;&nbsp;NEW Brand Color</span></h3>
            <div class="pull-right text-white box-tools">
              <span class="text-white box-btn"><i class="circle-nest-medium ti-notepad"></i>
              </span> &nbsp;&nbsp;&nbsp;
            </div>
            <div class="medium-9 columns ">
              <div>
                <form action="#" method="POST" class="form-inline">{% csrf_token %}
                  <br>
                  <br>
                  <h4 style="color: red">{{message}}</h4>
                  <div class="form-group">
                    <label  >Brand Name:</label>
                    <select name="brand" class="form-control" required>
                      {%for each in brands %}
                        <option value={{each.pk}}>{{each.name}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Standard Name:</label>
                    <select name="standard" class="form-control" required>
                      {%for each in standards %}
                        <option value={{each.pk}}>{{each.name}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="form-group">
                    <label >Version:</label>
                    <input type="text" class="form-control" name="version" required>
                  </div>

                  <div class="form-group">
                    <label >Name:</label>
                    <input type="text" class="form-control" name="name" required>
                  </div>

                  <div class="form-group">
                    <label >Patch:</label>
                    <input type="text" class="form-control" name="patch" required>
                  </div>

                  {% for i in range36 %}

                  <div class="form-group">
                    <label >Spectral {{i}}:</label>
                    <input type="text" class="form-control" name="spectral{{i}}" required>
                  </div>

                  {% endfor %}

                  {% for i in labRange %}

                  <div class="form-group">
                    <label >Lab {{i}}:</label>
                    <input type="text" class="form-control" name="lab{{i}}" required>
                  </div>

                  {% endfor %}

                  <div class="form-group">
                    <label >Density:</label>
                    <input type="text" class="form-control" name="density" required>
                  </div>

                  <div class="form-group">
                    <label >Dot Gain:</label>
                    <input type="text" class="form-control" name="dotGain" required>
                  </div>

                  <div class="form-group">
                    <label >Print Contrast:</label>
                    <input type="text" class="form-control" name="printContrast" required>
                  </div>

                  <div class="form-group">
                    <label >G7:</label>
                    <input type="text" class="form-control" name="G7" required>
                  </div>

                  <div class="form-group">
                    <label >Trap:</label>
                    <input type="text" class="form-control" name="trap" required>
                  </div>

                  <div class="form-group">
                    <label >Geometry:</label>
                    <input type="text" class="form-control" name="geometry" required>
                  </div>


                  <div class="form-group">
                    <label >Illuminant:</label>
                    <input type="text" class="form-control" name="illuminant" required>
                  </div>



                  <div class="form-group">
                    <label>Spin:</label>
                    <select name="spin" class="form-control" required>
                          <option value="True">True</option>
                          <option value="False">False</option>
                    </select>
                  </div>

                  {% for i in rgbRange %}

                  <div class="form-group">
                    <label >Rgb {{i}}:</label>
                    <input type="text" class="form-control" name="rgb{{i}}" required>
                  </div>


                  {% endfor %}

                  <div class="form-group">
                    <label>Active:</label>
                    <select name="active" class="form-control" required>
                          <option value="True">Active</option>
                          <option value="False">Inactive</option>
                    </select>
                  </div>

                  <button type="submit" class="btn btn-default">Create Brand Color</button>

                  <br>
                  <br>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
