{% extends "base.html" %} {% load staticfiles %} {% block title %} Show Jobs {% endblock title %} {% block content %}
<div class="row" style="margin-top:-20px">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <div class="box palette-Grey-300 bg">
          <div class="box-header  palette-Grey-300 bg">
            <h3 class="box-title"><span class="text-white">&nbsp;&nbsp;&nbsp;Show Jobs</span></h3>
            <div class="pull-right text-white box-tools">
              <span class="text-white box-btn"><i class="circle-nest-medium ti-notepad"></i>
              </span> &nbsp;&nbsp;&nbsp;
            </div>
            <div class="medium-9 columns ">
              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Division</th>
                      <th>Name</th>
                      <th>Menu</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for each in jobs %}
                      <tr>
                        <td>{{each.product.name}}</td>
                        <td>
                          <ul>
                            {% for div in each.division.all  %}
                              <li>{{div.name}}</li>
                            {% endfor %}

                          </ul>
                        </td>
                        <td>{{each.name}}</td>
                        <td>
                          <select name="menu{{forloop.counter}}" class="form-control" required>
                            <option value="brandColor{{forloop.counter}}">Brand Color</option>
                            <option value="numericalTrend{{forloop.counter}}">Numerical Trend</option>
                            <option value="visualTrend{{forloop.counter}}">Visual Trend</option>
                            <option value="copy{{forloop.counter}}">Copy</option>
                            <option value="edit{{forloop.counter}}">Edit Jobs</option>
                            <option value="delete{{forloop.counter}}">Delete Job</option>
                          </select>
                        </td>
                      </tr>
                    {% endfor %}

                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
