{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %} | Smiley Color and Associates</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static "css/palette.css" %}">
    <link rel="stylesheet" href="{% static "sass/css/dashboard.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/dripicon.css" %}">
    <link rel="stylesheet" href="{% static "css/typicons.css" %}" />
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}" />
    <link rel="stylesheet" href="{% static "css/themify-icons.css" %}" />
    <link rel="stylesheet" href="{% static "css/Montserrat-Hairline.css" %}" />
    <link rel="stylesheet" href="{% static "sass/css/theme.css" %}">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <!-- pace loader -->
    <script src="{% static "js/pace/pace.js" %}"></script>
    <link href="{% static "js/pace/themes/orange/pace-theme-flash.css" %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "js/slicknav/slicknav.css" %}" />
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
</head>

<body>

  {% block content %}
  {% endblock content %}


  <!-- end of inner-wrap -->
  <!-- main javascript library -->
  <script type='text/javascript' src="{% static "js/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "js/waypoints.min.js" %}"></script>
  <script type='text/javascript' src="{% static "js/preloader-script.js" %}"></script>
  <!-- foundation javascript -->
  <script type='text/javascript' src="{% static "js/foundation.min.js" %}"></script>
  <script type='text/javascript' src="{% static "js/foundation/foundation.dropdown.js" %}"></script>
  <!-- main edumix javascript -->
  <script type='text/javascript' src="{% static "js/slimscroll/jquery.slimscroll.js" %}"></script>
  <script type='text/javascript' src="{% static "js/slicknav/jquery.slicknav.js" %}"></script>
  <script type='text/javascript' src="{% static "js/sliding-menu.js" %}"></script>
  <script type='text/javascript' src="{% static "js/scriptbreaker-multiple-accordion-1.js" %}"></script>
  <script type="text/javascript" src="{% static "js/number/jquery.counterup.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/circle-progress/jquery.circliful.js" %}"></script>
  <script type='text/javascript' src="{% static "js/app.js" %}"></script>
  <!-- additional javascript -->
  <script>
      $(document).foundation();
  </script>
</body>
</html>
