{% extends "base.html" %} {% load staticfiles %} {% block title %} Home {% endblock title %} {% block content %}
<div class="row" style="margin-top:-20px">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <div class="box palette-Yellow-800 bg">
          <div class="box-header  palette-Yellow-800 bg">
            <h3 class="box-title"><span class="text-white">&nbsp;&nbsp;&nbsp;NEW DIVISION</span></h3>
            <div class="pull-right text-white box-tools">
              <span class="text-white box-btn"><i class="circle-nest-medium ti-notepad"></i>
              </span> &nbsp;&nbsp;&nbsp;
            </div>
            <div class="medium-9 columns ">
              <div>
                <form action="#" method="POST" class="form-inline">{% csrf_token %}
                  <br>
                  <br>
                  <h4 style="color: red">{{message}}</h4>

                  <div class="form-group">
                    <label class="sr-only" >Member Name:</label>
                    <select name="member" class="form-control">
                      {%for each in members %}
                        <option value={{each.pk}}>{{each.name}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="form-group">
                    <label class="sr-only">Division Name:</label>
                    <input type="text" class="form-control" name="name" required>
                  </div>
                  <div class="form-group">
                    <label class="sr-only">Address:</label>
                    <input type="text" class="form-control" name="address" required></input type="text">
                  </div>
                  <div class="form-group">
                    <label class="sr-only">City:</label>
                    <input type="text" class="form-control" name="city" required></input type="text">
                  </div>
                  <div class="form-group">
                    <label class="sr-only">State:</label>
                    <input type="text" class="form-control" name="state" required></input type="text">
                  </div>
                  <div class="form-group">
                    <label class="sr-only">Country:</label>
                    <select name="country" class="form-control">
                      {%for each in countries %}
                        <option value={{each.0}}>{{each.1}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="sr-only">ZIP:</label>
                    <input type="text" class="form-control" name="zip" required></input type="text">
                  </div>

                  <button type="submit" class="btn btn-default">Create Division</button>

                  <br>
                  <br>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
