{% load staticfiles %}
<div class="row">
  <div class="large-4 columns"> </div>
  <!-- /.box -->
</div>
<!-- End of Widget  -->
<footer>
  <div id="footer">Copyright &copy; 2017 <a href="http://themeforest.net/user/dELHI NERDS">dELHI NERDS</a></div>
</footer>
</div>
<!-- End of Container Begin -->
<!-- Right Menu -->
<div class=" bg-transparent off-canvas position-right" id="offCanvas" data-off-canvas data-position="right">
  <!-- Close button -->
  <button class="close-button" aria-label="Close menu" type="button" data-close> <span aria-hidden="true">&times;</span> </button>
  <div class="off-canvas-content" data-off-canvas-content>
    <!-- Menu -->
    <ul class="nav navbar-stacked ">
      <li><a href="#"><span class="palette-Black-100 bg ti-menu-alt"></span>Notifications</a></li>
      <li><a href="#"><span class="palette-Deep-Purple-100 bg ti-menu-alt"></span><i class="ti-more-alt"></i><span class="palette-Deep-Purple-200 bg ti-shopping-cart-full"></span><i class="ti-more-alt"></i><span class="palette-Deep-Purple-400 bg ti-gift"></span><i class="ti-more-alt"></i><span class="palette-Deep-Purple-600 bg ti-truck"></span><i class="ti-more-alt"></i><span class="palette-Deep-Purple-800 bg ti-home"></span>Shipping proses of <strong>Robert Langdon</strong> is completed!<small>1m</small></a></li>
      <li><a href="#"><span class="palette-Blue-A100 bg ti-user"></span>Meet new user <strong>Lilian Meirs</strong><small>23m</small></a></li>
      <li><a href="#"><span class="palette-Red-A400 bg ti-cloud-down"></span><strong>Robert</strong> added new request for ne item for refund<small>34m</small></a></li>
      <li><a href="#"><span class="palette-Orange-200 bg ti-menu-alt"></span><i class="ti-more-alt"></i><span class="palette-Orange-400 bg ti-shopping-cart-full"></span><i class="ti-more-alt"></i><span class="palette-Orange-600 bg ti-gift"></span><br>Shipping proses of <strong>Robert Langdon</strong> is completed!<small>40m</small></a></li>
      <li><a href="#"><span class="palette-Amber-500 bg ti-comment-alt"></span>Mike Nilson commented Post<br>
                                            Like this one! Keep going!<small>50m</small></a></li>
      <li><a href="#"><span class="palette-Cyan-300 bg ti-shopping-cart-full"></span>Amazing! <strong>Mike Nilson</strong> just purchased Your item <small>1h</small></a></li>
      <li><a href="#"><span class="palette-Light-Green-500 bg ti-image"></span><strong>Lilian Meirs</strong> Posting new image cover, and just got 2.000 likes<br><img alt="" src="https://source.unsplash.com/category/technology/500x200"><small>1h 12m</small></a></li>
      <li><a href="#"><span class="palette-Amber-500 bg ti-comment-alt"></span>Mike Nilson commented Post<br>
                                              Like this one! Keep going!<small>1h 39</small></a></li>
      <li><a href="#"><span class="palette-Cyan-300 bg ti-shopping-cart-full"></span>Amazing! <strong>Mike Nilson</strong> just purchased Your item<br><img alt="" src="https://source.unsplash.com/category/food/500x200"> <small>1h 45m</small></a></li>
      <li><a href="#"><span class="palette-Cyan-300 bg ti-shopping-cart-full"></span>Amazing! <strong>Mike Nilson</strong> just purchased Your item <small>23m</small></a></li>
      <li><a href="#"><span class="palette-Amber-500 bg ti-comment-alt"></span>Mike Nilson commented Post<br>
                                                Like this one! Keep going!<small>2h</small></a></li>
    </ul>
  </div>
</div>
<!-- End of Right Menu -->
</div>
<!-- end paper bg -->
</div>
</div>
