{% load staticfiles %}

<!-- preloader -->
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<!-- End of preloader -->
<div class="off-canvas-wrapper over-flow-hidden">
  <div class="off-canvas-wrapper-inner " data-off-canvas-wrapper>
    <div class="inner-wrap">
      <div id="skin-select">
        <a id="toggle"></a>
        <div class="skin-part">
          <div id="tree-wrap">
            <a href="/">
              <div class="profile"> <img alt="" class="" src="{% static "img/yeti.svg" %}">
                <a href="/"><h3>SmileyLab </h3></a>
              </div>
            </a>
            <div class="side-bar">
              <ul id="menu-showhide" class="topnav slicknav">
                <li>
                  <a id="menu-select" class="tooltip-tip" href="#" title="Dashboard">
                    <i class="palette-Deep-Purple-700 bg ti-desktop"></i>
                    <span>Dashboard</span>
                  </a>
                  <ul>
                    <li><a href="{% url "app:job" %}">Jobs/Status</a></li>
                    <li><a href="#">Numerical Analysis</a></li>
                    <li><a href="#">Visual Analysis</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Triggers</a></li>
                    <li><a href="#">Bookmarks</a></li>
                    <li><a href="#">Downloads</a></li>
                    <li><a href="#">Links</a></li>
                  </ul>
                </li>
                <li>
                  <a class="tooltip-tip" href="#"> <i class="palette-Indigo-700 bg ti-layout"></i> <span>JOB</span> </a>
                  <ul>
                    <li><a href="{% url "app:job" %}">New Job</a></li>
                    <li><a href="{% url "app:showJobs"%}">Show Jobs</a></li>
                    <li><a href="#">Status</a></li>
                  </ul>
                </li>
                <li>
                  <a class="tooltip-tip" href="#"> <i class="palette-Indigo-700 bg fa fa-bold"></i> <span>BRAND</span> </a>
                  <ul>
                    <li><a href="{% url "app:showBrands"%}">Show Brands</a></li>
                  </ul>
                </li>
                <li>
                  <a class="tooltip-tip" href="#" title="Division"> <i class="intial palette-Blue-700 bg ti-email"></i> <span>Division</span> </a>
                  <ul>
                    <li><a href="{% url "app:division" %}">New Division</a></li>
                    <li><a href="{% url "app:showDivisions"%}">Show Divisions</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="tooltip-tip"> <i class="intial palette-Blue-900 bg ti-write"></i> <span>Standard
                  </span> </a>
                  <ul>
                    <li><a href="{% url "app:standard" %}">New Standards</a></li>
                    <li><a href="{% url "app:showStandards" %}">Show Standards</a></li>
                    <li><a href="{% url "app:showEvalutions" %}">Show Evaluations</a></li>
                    <li><a href="{% url "app:patchStandard" %}">New Brand Color</a></li>
                    <li><a href="{% url "app:patchTolerance" %}">New Patch Tolerance</a></li>
                    <li><a href="{% url "app:showMemberEvaluations" %}">Show Member Evaluation</a></li>
                    <li><a href="{% url "app:showMemberProperty" %}">Show Member Property</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="tooltip-tip">  <i class="intial palette-Teal-600 bg ti-vector"></i>
                      <span>Trend</span>
                    </a>
                </li>
                <li>
                  <a href="#"> <i class="intial palette-Green-700 bg ti-layers-alt"></i> <span>Analytics&nbsp;
                    </a>
                </li>

                <li>
                  <a class="tooltip-tip" href="#" title="Extra"> <i class="intial palette-Orange-700 bg ti-zip"></i> <span>Downloads</span> </a>
                  <ul>
                    <li><a href="#">New Downloads</a></li>
                    <li><a href="#">Show Downloads</a></li>
                    <li><a href="#">Show File Category</a></li>
                  </ul>
                </li>
                <li>
                  <a class="tooltip-tip" href="#" title="Extra"> <i class="palette-Pink-700 bg ti-gift"></i> <span>Bookmarks</span> </a>
                  <ul>
                    <li><a href="{% url "app:bookmark"%}">New Bookmarks</a></li>
                    <li><a href="#">Show Bookmarks</a></li>
                    <li><a href="#">New Bookmarks Category</a></li>
                    <li><a href="#">Show Bookmarks Category</a></li>
                  </ul>
                </li>
                <li>
                  <a class="tooltip-tip" href="#" title="Extra"> <i class="palette-Pink-700 bg ti-gift"></i> <span>Links</span> </a>
                  <ul>
                    <li><a href="{% url "app:link"%}">New Links</a></li>
                    <li><a href="#">Show Links</a></li>
                  </ul>
                </li>
                <li>
                  <a class="tooltip-tip" href="#" title="Extra"> <i class="intial palette-Lime-700 bg ti-harddrives"></i> <span>Others</span> </a>
                  <ul>
                    <li><a href="#">Triggers</a></li>
                    <li><a href="{% url "app:role"%}">New Role</a></li>
                    <li><a href="{% url "app:link"%}">New Links</a></li>
                    <li><a href="#">Show Links</a></li>
                  </ul>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="wrap-fluid" id="paper-bg">
  <br><br>
