{% extends "base.html" %} {% load staticfiles %} {% block title %} Home {% endblock title %} {% block content %}
<div class="row" style="margin-top:-20px">
  <div class="large-6 columns">
    <div class="row">
      <div class="large-6 columns">
        <div class="box palette-Red-600 bg">
          <div class="box-body no-pad" style="display: block;">
            <div class="events-nest ">
              <div class="wrap-no-pad text-white" >
                <br>
                <img alt="" style="margin-left: auto; margin-right: auto; display: block;" src="{% static "img/templates/jobs.png" %}" width="100px" height="100px" >
                <h4 class="text-white"><b>JOBS/STATUS</b><br></h4>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="box palette-Cyan-400 bg">
          <div class="box-body no-pad" style="display: block;">
            <div class="events-nest ">
              <div class="wrap-no-pad text-white" >
                <br>
                <img alt="" style="margin-left: auto; margin-right: auto; display: block;" src="{% static "img/templates/nume_ana.png" %}" width="100px" height="100px" >
                <h4 class="text-white"><b>Numerical Analysis</b></h4>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="box palette-Deep-Purple-A400 bg">
          <div class="box-body no-pad" style="display: block;">
            <div class="events-nest ">
              <div class="wrap-no-pad text-white" >
                <br>
                <img alt="" style="margin-left: auto; margin-right: auto; display: block;" src="{% static "img/templates/vis_ana.png" %}" width="100px" height="100px" >
                <h4 class="text-white"><b>Visual Analysis</b></h4>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="box palette-Green-A400 bg">
          <div class="box-body no-pad" style="display: block;">
            <div class="events-nest ">
              <div class="wrap-no-pad text-white" >
                <br>
                <img alt="" style="margin-left: auto; margin-right: auto; display: block;" src="{% static "img/templates/ana.png" %}" width="100px" height="100px" >
                <h4 class="text-white"><b>Analytics</b></b></h4>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="large-6 columns">
        <div class="box palette-Cyan-400 bg">
          <div class="box-header  palette-Cyan-400 bg">
            <div class="pull-right text-white box-tools"> <span class="text-white box-btn"><i class="circle-nest-medium ti-stats-up"></i>
                              </span>&nbsp;&nbsp;&nbsp; </div>
            <h3 class="box-title">
                                <span class="text-white">&nbsp;&nbsp;&nbsp;PAGE VIEWS</span>
                              </h3> </div>
          <div class="box-body no-pad" style="display: block;">
            <div class="events-nest ">
              <div class="wrap-no-pad text-white">
                <h1 class="text-white"><b class="counter-up-fast">294</b></h1> <span>Users</span>
                <p>65%</p>
                <br> </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="large-6 columns">
    <div class="row">
      <div class="large-6 columns">
        <div class="box palette-Lime-A400 bg">
          <div class="box-body no-pad" style="display: block;">
            <div class="events-nest ">
              <div class="wrap-no-pad text-white" >
                <br>
                <img alt="" style="margin-left: auto; margin-right: auto; display: block;" src="{% static "img/templates/trigger.png" %}" width="100px" height="100px" >
                <h4 class="text-white"><b>Triggers</b></h4>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="box palette-Deep-Orange-A400 bg">
          <div class="box-body no-pad" style="display: block;">
            <div class="events-nest ">
              <div class="wrap-no-pad text-white" >
                <br>
                <img alt="" style="margin-left: auto; margin-right: auto; display: block;" src="{% static "img/templates/bookmark.png" %}" width="100px" height="100px" >
                <h4 class="text-white"><b>Bookmarks</b></h4>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="box palette-Yellow-800 bg">
          <div class="box-body no-pad" style="display: block;">
            <div class="events-nest ">
              <div class="wrap-no-pad text-white" >
                <br>
                <img alt="" style="margin-left: auto; margin-right: auto; display: block;" src="{% static "img/templates/download.png" %}" width="100px" height="100px" >
                <h4 class="text-white"><b>Downloads</b></h4>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="box palette-Deep-Purple bg">
          <div class="box-body no-pad" style="display: block;">
            <div class="events-nest ">
              <div class="wrap-no-pad text-white">
                <br>
                <img alt="" style="margin-left: auto; margin-right: auto; display: block;" src="{% static "img/templates/links.png" %}" width="100px" height="100px" >
                <h4 class="text-white"><b>Links</b></h4>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}
