{% extends "base.html" %} {% load staticfiles %} {% block title %} Home {% endblock title %} {% block content %}
<div class="row" style="margin-top:-20px">
  <div class="large-12 columns">

    <div class="row">
      <div class="large-12 columns">
        <!--New User-->
        <div class="box palette-Yellow-800 bg">
          <div class="box-header  palette-Yellow-800 bg">
            <!-- tools box -->
            <div class="pull-right text-white box-tools"> <span class="text-white box-btn"><i class="circle-nest-medium ti-user"></i>
                  </span>&nbsp;&nbsp;&nbsp; </div>
            <h3 class="box-title">
                    <span class="text-white">&nbsp;&nbsp;&nbsp;NEW USER</span>
                  </h3> </div>
          <!-- /.box-header -->
          <div class="box-body no-pad" style="display: block;">
            <div class="events-nest ">
              <div class="wrap-no-pad text-white">
                <h1 class="text-white"><b class="counter-up-fast">390</b></h1> <span>Users</span>
                <p>65%</p>
                <br> </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!--end of New User-->
      </div>
    </div>
  </div>
</div>

{% endblock content %}
